<script setup>
  const handleOpenDemo = () => {
    window.OzLiveness.open()
  }
</script>

<template>
  <main>
    <img alt="Vue logo" class="logo" src="@/assets/logo.svg" width="125" height="125" />
    <button v-on:click="handleOpenDemo">Open Demo</button>
  </main>
</template>

<style scoped>
main {
  line-height: 1.5;
}

button {
  border: 1px solid #41b883;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;

  color: #41b883;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

@media (min-width: 1024px) {
  main {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }
}
</style>
